$background: #f79fb7;
$lighter-background: #ffe1e9;
$darker-background: #fd82a3;

h1 {
    color: white;
    font-family: "Meow Script";
}
.form-group {
    margin-bottom: 15px;
    color: white;
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input {
        width: 60%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: $lighter-background;
        &:focus {
        border-color: #66afe9;
        outline: none;
        box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
        }
    }
}

button {
    width: 30%;
    padding: 10px;
    background-color: $background;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: $darker-background;
    }
}