$background: #f79fb7;
$lighter-background: #fabece;
$darker-background: #fd82a3;

.navbar {
    width: 100%;
    height: 3em;
}

.navbar ul {
    display: flex;
    padding: 10px 0;
    width: 100%;
    background-color: $lighter-background;
}

.navbar li {
    display: flex;
    list-style: none;
    width: 100%;
    text-align: center;
}

.navbar .user-menu {
    width: 100%;
    height: 100%;
    align-content: center;
}

.navbar a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 5px;
    background-color: $background;
}

.navbar a:hover {
    background-color: $darker-background;
}
.avatar-small {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: white;
}

.profile-link p {
    margin-left: 10px;
}

.profile-link:hover {
    background-color: $background;
    border-radius: 5px;
}

.user-menu-button {
    border: none;
    width: 2.5em;
    height: 2.5em;
}

.user-menu-button .dropdown-icon {
    width: 100%;
    height: 100%;
}

.user-menu-options {
    text-align: center;
    width: 100%;
    padding-left: 0;
}

.user-menu-options li {
    list-style: none;
    text-align: center;
    border: 1px solid $darker-background;
    border-right: none;
    border-left: none;
    height: 100%;
}

.user-menu-options li:last-child {
    border-top: none;
}

.user-menu-options .logout-button {
    padding-top: .75em;
    background: none;
    cursor: pointer;
    font-size: 110%;
    border: white;
    padding-bottom: .75em;
    width: 100%;
    height: 100%;
}

.user-menu-options button:hover {
    background-color: $background;
    border-radius: 5px;
}

.user-menu-options .logout-link {
    display: block;
    height: 100%;
}

.popup-content {
    max-width: 400px;
    padding: 20px;
    border: 1px solid $lighter-background;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $lighter-background;
    
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.welcome {
    width: 100%;
    color: white;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 300%;
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
}